main {
    justify-content: center;
    align-items: center;
}


.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    flex: 1;    
}

.search-bar input[type=text] {
    border: 1px solid #7da1d6;
    border-radius: 10px;
    margin: 10px 60px 10px 10px;
    padding: 10px 20px;
}

input[type=text]::placeholder {
    font-family: "Playfair Display", serif;
    font-size: 1.2em;
    color: black;
}

input[type=text]:hover {
    background-color: #86ace6;
}

.main-table, mini-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-row > th {
    width: 70px;
    height: 70px;
}

.main-tbody, .mini-tbody {
    border-spacing: 30px;
    text-align: center;
}

.month { 
    width: 200px;
    height: 150px;
}

.month-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.days-jan {
    background-color: #f94144;
}

.days-feb {
    background-color: #f3722c;
}

.days-march {
    background-color: #f8961e;
}

.days-april {
    background-color: #f9844a;
}

.days-may {
    background-color: #f9c74f;
}

.days-june {
    background-color: #90be6d;
}

.days-july {
    background-color: #43aa8b;
}

.days-aug {
    background-color: #4d908e;
}

.days-sep {
    background-color: #577590;
}

.days-oct {
    background-color: #277da1; 
}

.days-nov {
    background-color: #8931c4;
}
   
.days-dec {
    background-color: #c44eb2;
}

.year {
    font-size: 50px;
}