@font-face {
    font-family: "Retro Gaming";
    src: url("../fonts/Retro Gaming.ttf") format("truetype");
}

main {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.year-wrapper {
    display: flex;
    flex-direction: row;
}

.year-wrapper button {
    margin: 0px 10px;
    padding: 5px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    flex: 1;    
}

.search-bar input[type=text] {
    border: 1px solid #7da1d6;
    border-radius: 10px;
    margin: 10px 60px 10px 10px;
    padding: 10px 20px;
}

input[type=text]::placeholder {
    font-family: "Playfair Display", serif;
    font-size: 1.2em;
    color: black;
}

input[type=text]:hover {
    background-color: #86ace6;
}

.months-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 910px;
    margin: 0px 50px;
}

.month {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.month table {
    border-collapse: collapse;
}

.month td, .month th {
    width: 28px;
    height: 22px;
    text-align: center;
}

.january thead {
    background-color: #f94144;
}

.february thead {
    background-color: #f3722c;
}

.march thead {
    background-color: #f8961e;
}

.april thead {
    background-color: #f9844a;
}

.may thead {
    background-color: #f9c74f;
}

.june thead{
    background-color: #90be6d;
}

.july thead {
    background-color: #43aa8b;
}

.august thead {
    background-color: #4d908e;
}

.september thead {
    background-color: #577590;
}

.october thead {
    background-color: #277da1; 
}

.november thead {
    background-color: #8931c4;
}
   
.december thead {
    background-color: #c44eb2;
}

